@import '../../scss/variables.scss';

.footer{
    background-color: $color-main;
    color: $color-sub;
    padding: 20px;
    text-align: center;
    bottom:0;
    position: absolute;
    width: 100%;
    
    & ul {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-around;

    }
}